<form >
    <div class="container">
    <div class="w3-con">
    <h4>School Registration</h4>
    </div>
    <div class="box"> 
    <label for="name">Trust Name</label><br>
    <input type="text" name="a" placeholder="Trust Name"   required><br>
    </div>
    <div class="box">
    <label for="school">School Name</label><br>
    <input type="text" name="b" placeholder="School Name" required><br>
    </div>
    <div class="box">
    <label>Admin Login Email Id</label><br>
    <input type="text" name="c" placeholder="Email Id"  required><br>
    </div>
    <div class="box">
    <label>Contact Admin User Name</label><br>
    <input type="text" name="e" placeholder="User Name"  required><br>
    </div>
    <div class="box">
    <label>Password</label><br>
    <input type="password" name="d" placeholder="Password"  required><br>
    </div>
    <div class="box">
    <label>Phone Number</label><br>
    <input type="number" name="f" placeholder="Phone Number"  required><br>
    </div>
    <h3>Administration Management Modules <br> (Fees module included by default) </h3>
    <div class="box1">
        <label>Sales</label>
        <input type="checkbox" name="c1">
    </div>
    <h3>Learning Management Modules</h3>
    <div class="box1">
        <label>Time Table</label>
        <input type="checkbox" name="c2">
    </div>
    <h3>School Type</h3>
    <div class="box1"> 
        <label>Nursery School</label>
        <input type="checkbox" name="c2">
    </div>
    <div class="box1">
        <label>Primary School</label>
        <input type="checkbox" name="c2">
    </div>
    <div class="box1">
        <label>High School</label>
        <input type="checkbox" name="c2">
    </div>
    <div class="box1">
        <label>Higher Secondary School</label>
        <input type="checkbox" name="c2">
    </div>
    <div class="box1">
        <button type="submit">Submit</button>
    </div>
    </div>
    </form>
