{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
       
  #kk{ 
   top: .6rem;
   width: 3.25rem;
   height: 3.25rem;
  }
  /* body{
    height: 100%;
  margin: 0;
  padding: 7em;
  background-image: url(./);
  
}     */
body, html {
  height: 100%;
}

</style>
<body>
    <img src="Innovik.png">
   
    <div class="card card-outline-secondary">
      <div class="card-header text-center">
      <h3 class="mb-0">School Registration</h3>
      </div>
    
    <div class="card-body ">
      <form>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Trust Name</label>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="a" placeholder="Trust Name" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">School Name</label>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="a" placeholder="School Name" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Admin Login Email Id</label>
      <div class="col-lg-4">
        <input class="form-control" type="email" name="a" placeholder="Email id" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Contact Admin User Name</label>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="a" placeholder="User Name" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Password</label>
      <div class="col-lg-4">
        <input class="form-control" type="password" name="a" placeholder="Password" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Phone Number</label>
      <div class="col-lg-4">
        <input class="form-control" type="number" name="a" placeholder="Phone Number" >
      </div>
    </div>
    <div class="form-group row">
    <h6 class="col-lg-7 col-form-label form-control-label">Administration Management Modules <br> 
      (Fees module included by default) </h6>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Sales</label>
      <div class="col-sm-1" id="kk">
        <input class="form-control" type="checkbox" name="a" >
      </div>
    </div>
    <div class="form-group row">
      <h5 class="col-lg-7 col-form-label form-control-label">Learning Management Modules</h5>
      </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Time Table</label>
      <div class="col-sm-1" id="kk">
        <input class="form-control" type="checkbox" name="a" >
      </div>
    </div>
    <div class="form-group row">
      <h5 class="col-lg-7 col-form-label form-control-label">School Type</h5>
      </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Nursery School</label>
      <div class="col-sm-1" id="kk">
        <input class="form-control" type="checkbox" name="a" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Primary School</label>
      <div class="col-sm-1" id="kk">
        <input class="form-control" type="checkbox" name="a" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">High School</label>
      <div class="col-sm-1" id="kk">
        <input class="form-control" type="checkbox" name="a" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-2 col-form-label form-control-label">Higher Secondary School</label>
      <div class="col-sm-1" id="kk">
        <input class="form-control" type="checkbox" name="a" >
      </div>
    </div>
    
  <div class="form-group row">
    <label class="col-lg-1 col-form-label form-control-label"></label>
    <div class="col-lg-0">
      <input class="btn btn-primary" type="button" value="Submit">
      <input class="btn btn-secondary" type="reset" value="Reset"> 
    </div>
  </div>
</form>
</div>    
</body>
</html>

